.v_cont{
    position: relative;
    width: 30rem;
}

.v_display{
    display: flex;
    width: 30rem;
    height: 30rem;
    background-color: #FAFAFA;
    border: 5px solid #444;
}

.v_controls{
    display: grid;
    grid-template-columns: 1fr 1fr;
}